@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Mont";
  src: url("../fonts/mont/Fontfabric - Mont Heavy DEMO.otf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-margin: 100px;
  color: #000;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "Mont";
  font-size: clamp(3rem, 8vw, 6rem);
  letter-spacing: 0.2em;
  margin-bottom: 70px;
}
@media (max-width: 900px) {
  h1 {
    letter-spacing: 0.1em;
  }
}

h2 {
  font-size: clamp(1.5rem, 4vw, 3rem);
  margin-bottom: 40px;
}

.widthfixed {
  display: flex;
  justify-content: center;
  width: 200px;
}

.button {
  display: flex;
  justify-content: center;
  width: 200px;
  padding: 20px 0;
  letter-spacing: 0.1em;
  color: #FFF !important;
  background-color: #000;
  border: 1px #FFF solid;
  border-radius: 50px;
  transition: all 0.15s ease-in-out;
}
.button:hover {
  color: #000 !important;
  background-color: #FFF;
  border: 1px #000 solid;
}

body {
  overflow-x: hidden;
}

header {
  position: sticky;
  top: 20px;
  height: 70px;
  background: linear-gradient(155deg, #13007F 0%, #040019 70%);
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  border: 1px solid #FFF;
  border-radius: 20px;
  font-size: 1.5rem;
}
@media (max-width: 900px) {
  header {
    font-size: 1rem;
  }
}
header nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
header nav a:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
}
header nav:nth-of-type(2) a {
  height: 40px;
}
header nav:nth-of-type(2) a:nth-of-type(1) {
  display: flex;
}
@media (max-width: 480px) {
  header nav:nth-of-type(2) a:nth-of-type(1) {
    display: none;
  }
}
header * {
  color: #FFF;
}
header > a:nth-of-type(1) {
  display: flex;
}
@media (max-width: 600px) {
  header > a:nth-of-type(1) {
    display: none;
  }
}
header > a:nth-of-type(2) {
  display: none;
}
@media (max-width: 600px) {
  header > a:nth-of-type(2) {
    display: flex;
  }
}
@media (max-width: 380px) {
  header > a:nth-of-type(2) {
    display: none;
  }
}

.width-responsive {
  width: 70%;
  margin: 0 auto;
}
@media (max-width: 1500px) {
  .width-responsive {
    width: 85%;
  }
}
@media (max-width: 900px) {
  .width-responsive {
    width: 90%;
  }
}

.herobanner {
  position: relative;
}
.herobanner .fond1 {
  width: 2px;
  height: 140%;
  transform: translateY(-20%);
  background-color: #B8B8B8;
  position: absolute;
  top: 0%;
  left: 10%;
  z-index: -1;
}
@media (max-width: 1500px) {
  .herobanner .fond1 {
    left: 5%;
  }
}
@media (max-width: 900px) {
  .herobanner .fond1 {
    right: 10%;
    left: unset;
  }
}
.herobanner .fond2 {
  width: 100%;
  height: 2px;
  background-color: #B8B8B8;
  position: absolute;
  top: 70px;
  left: 0;
  z-index: -1;
}
@media (max-width: 900px) {
  .herobanner .fond2 {
    top: 350px;
  }
}
.herobanner img {
  position: absolute;
  top: 150px;
  right: 0;
}
@media (max-width: 500px) {
  .herobanner img {
    display: none;
  }
}

.section {
  padding: 100px 0;
}
@media (max-width: 1500px) {
  .section {
    padding: 80px 0;
  }
}
@media (max-width: 1000px) {
  .section {
    padding: 70px 0;
  }
}
@media (max-width: 500px) {
  .section {
    padding: 60px 0;
  }
}

.projets-section {
  background: linear-gradient(155deg, #13007F 0%, #040019 70%);
}
.projets-section * {
  color: #FFF;
}
.projets-section nav {
  display: flex;
}
.projets-section nav .mobile-animation {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 70px;
}
@media (max-width: 720px) {
  .projets-section nav .mobile-animation {
    flex-wrap: nowrap;
    overflow-x: scroll;
    scrollbar-width: none; /* Firefox */
    white-space: nowrap;
  }
  .projets-section nav .mobile-animation::-webkit-scrollbar { /* Chrome, Safari */
    display: none;
  }
}
.projets-section nav .scrollable {
  display: flex;
  gap: 1rem;
  -webkit-overflow-scrolling: touch; /* fluide sur mobile */
  cursor: grab;
}
.projets-section nav .scrollable:active {
  cursor: grabbing;
}
.projets-section nav .projets-button {
  padding: 20px 40px;
  border-radius: 50px;
  letter-spacing: 0.2em;
}
.projets-section nav .active {
  color: #FFF;
  background-color: #000;
  border: 1px #FFF solid;
  transition: all 0.15s ease-in-out;
}
.projets-section nav .projets-button:not(.active):hover {
  color: #FFF;
  background: #000;
  border: 1px #FFF solid;
}
.projets-section nav .inactive {
  color: #000;
  background-color: #FFF;
  border: 1px #000 solid;
  transition: all 0.15s ease-in-out;
}
.projets-section nav .inactive:hover {
  color: #FFF;
  background: #000;
  border: 1px #FFF solid;
}
.projets-section .projets-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media (max-width: 1130px) {
  .projets-section .projets-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 690px) {
  .projets-section .projets-content {
    grid-template-columns: repeat(1, 1fr);
  }
}
.projets-section .projets-content .projets-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
  background-size: cover;
  flex: 1;
  min-width: 300px;
  aspect-ratio: 1;
  background-color: #FFF;
  border: 1px #000 solid;
  border-radius: 20px;
}
.projets-section .projets-content .projets-card * {
  color: #FFF;
}
.projets-section .projets-content .projets-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  opacity: 0;
  transition: opacity 0.4s ease;
  z-index: 1;
  border-radius: 20px;
}
.projets-section .projets-content .projets-card:hover::before {
  opacity: 1;
}
.projets-section .projets-content .projets-card .projets-card-text {
  position: relative;
  z-index: 2;
}
.projets-section .projets-content .projets-card:hover .projets-card-text {
  transform: translateY(0);
  opacity: 1;
  z-index: 2;
}
.projets-section .projets-content .projets-card .projets-card-text {
  position: relative;
  z-index: -1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  transition: all ease-in-out 0.3s;
  transform: translateY(200px);
  opacity: 0;
  overflow: hidden;
}
.projets-section .projets-content .projets-card .projets-card-text h3 {
  text-align: center;
  font-weight: 400;
}
.projets-section .projets-content .projets-card > div {
  display: flex;
  gap: 20px;
}
.projets-section .projets-content .projets-card .exp-date {
  position: absolute;
  top: 0px;
  transform: translateY(-50%);
  left: 25px;
  color: #FFF;
  background-color: #000;
  border-radius: 50px;
  padding: 5px 15px;
  text-align: center;
  z-index: 3;
}

.quijesuis-section .width-responsive {
  display: flex;
  align-items: center;
  gap: 50px;
}
.quijesuis-section .exp-column {
  flex: 0 0 50%;
}
.quijesuis-section .quijesuis-txt span {
  font-weight: 600;
}
.quijesuis-section img {
  width: 100%;
  max-width: 700px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 20px;
  border: solid 1px #000;
}
@media (max-width: 768px) {
  .quijesuis-section .width-responsive {
    flex-wrap: wrap;
  }
  .quijesuis-section .exp-column {
    flex: 0 0 100%;
  }
}

.exp-section > div {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.exp-section .exp-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.exp-section .exp-card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 30px 30px 30px;
  border: 1px #000 solid;
  border-radius: 20px;
}
.exp-section .exp-card > div {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.exp-section .exp-card .exp-grey {
  color: #515151;
}
.exp-section .exp-card .exp-date {
  position: absolute;
  top: 0px;
  transform: translateY(-50%);
  left: 25px;
  color: #FFF;
  background-color: #000;
  border-radius: 50px;
  padding: 5px 15px;
  text-align: center;
}

.footer .footer-content {
  transform: translateY(100px);
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF;
  border: 1px #000 solid;
  border-radius: 20px;
  padding: 50px;
}
@media (max-width: 1250px) {
  .footer .footer-content {
    justify-content: center;
  }
}
@media (max-width: 1250px) {
  .footer .footer-content img {
    display: none;
  }
}
.footer .footer-content .footer-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.footer .footer-content .footer-middle h2 {
  letter-spacing: 0.2em;
}
@media (max-width: 900px) {
  .footer .footer-content .footer-middle h2 {
    letter-spacing: 0.1em;
  }
}
.footer .footer-content .footer-middle a {
  background-color: #000;
  color: #FFF;
  border-radius: 50px;
  padding: 20px 25%;
}
.footer .footer-end {
  display: flex;
  justify-content: center;
  height: 200px;
  background: linear-gradient(155deg, #13007F 0%, #040019 70%);
}
.footer .footer-end p {
  color: #FFF;
  margin-top: 150px;
  text-align: center;
}

.projet-page .fil-ariane {
  margin-bottom: 50px;
}
.projet-page .fil-ariane a {
  color: #515151;
}
.projet-page .fil-ariane a:hover {
  text-decoration: underline;
}
.projet-page .gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 80px;
}
.projet-page .gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 4/3;
  border-radius: 20px;
  border: #000 1px solid;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.projet-page .gallery img:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
@media (max-width: 700px) {
  .projet-page .gallery {
    grid-template-columns: 1fr;
    margin-top: 50px;
  }
  .projet-page .gallery img {
    aspect-ratio: auto;
    height: auto;
  }
}
.projet-page .projet-principal {
  position: relative;
  display: flex;
  gap: 50px;
}
@media (max-width: 1200px) {
  .projet-page .projet-principal {
    flex-direction: column;
  }
  .projet-page .projet-principal .projet-textes {
    width: 100% !important;
  }
  .projet-page .projet-principal .projet-image {
    width: 100% !important;
  }
}
.projet-page .projet-principal .projet-textes {
  width: 50%;
}
.projet-page .projet-principal .projet-textes .projet-tags {
  width: fit-content;
  background-color: #000;
  color: #FFF;
  padding: 5px 10px;
  margin-bottom: 30px;
}
.projet-page .projet-principal .projet-textes .button {
  margin-top: 20px;
}
.projet-page .projet-principal .projet-image {
  width: 50%;
  position: relative;
}
.projet-page .projet-principal .projet-image > img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 20px;
  border: solid 1px #000;
}
.projet-page .projet-principal .projet-image .projet-image-annee {
  position: absolute;
  top: 0px;
  transform: translateY(-50%);
  left: 25px;
  color: #FFF;
  background-color: #000;
  border-radius: 50px;
  padding: 5px 15px;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
